<div>
    <div>
        <mat-form-field class="search-bar">
            <input matInput type="text" (keyup.enter)="searchForMeals()" [(ngModel)]="searchInput">
            <mat-placeholder class="placeholder">Search meals by name</mat-placeholder>
            <button matSuffix mat-button (click)="searchForMeals()"><mat-icon >search</mat-icon></button>
        </mat-form-field>
    </div>

    <div class="content" *ngIf="meals.length > 0">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let meal of meals">
                <mat-card class="card">
                    <mat-card-subtitle>{{meal.strCategory}}, {{meal.strArea}}</mat-card-subtitle>
                    <mat-card-title>{{meal.strMeal}}</mat-card-title>
                    <mat-card-content>
                      <img class= "img" mat-card-xl-image src="{{meal.strMealThumb}}" >
                      <p>{{meal.strInstructions}}</p>
                      <mat-divider inset></mat-divider>
                      <p>Ingredients: {{meal.strIngredient1}}; {{meal.strIngredient2}}; {{meal.strIngredient3}}; {{meal.strIngredient4}}; {{meal.strIngredient5}}</p>
                    </mat-card-content>
                    <mat-divider inset></mat-divider>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                    <mat-card-footer>
                      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </mat-card-footer>
                  </mat-card>
            </div>
        </div>
    </div>
</div>