<div>
    <div>
        <mat-form-field class="search-bar">
            <input matInput type="text" [(ngModel)]="searchInput">
            <mat-placeholder class="placeholder">Search cocktail by name</mat-placeholder>
            <button matSuffix mat-button (keyup.enter)="searchForCocktails()" (click)="searchForCocktails()"><mat-icon >search</mat-icon></button>
        </mat-form-field>
    </div>

    <div class="content" *ngIf="cocktails.length > 0">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let cocktail of cocktails">
                <mat-card class="card">
                    <mat-card-subtitle>{{cocktail.strCategory}}</mat-card-subtitle>
                    <mat-card-title>{{cocktail.strDrink}}</mat-card-title>
                    <mat-card-content>
                      <img class= "img" mat-card-xl-image src="{{cocktail.strDrinkThumb}}" >
                      <p>{{cocktail.strInstructions}}</p>
                      <mat-divider inset></mat-divider>
                      <p>Ingredients: {{cocktail.strIngredient1}}; {{cocktail.strIngredient2}}; {{cocktail.strIngredient3}}; {{cocktail.strIngredient4}}; {{cocktail.strIngredient5}}</p>
                    </mat-card-content>
                    <mat-divider inset></mat-divider>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                    <mat-card-footer>
                      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </mat-card-footer>
                  </mat-card>
            </div>
        </div>
    </div>
</div>